.pəncərə { text-align: center;
}

#başlıq { font-family: sans-serif;
          font-size: 40px;
}

#açıqlama { font-family: sans-serif;
}

#cp { color: #12ff34
}

div.paket-sistemi-bağlantılar { margin: 20px;
}

b { font-family: sans-serif;
}

h1 { font-family: Arial;
}

p { font-family: sans-serif;
}