.pəncərə { border: solid 2px blue;
           border-radius: 10px 10px 10px 10px;
           padding: 10px;
}

#başlıq { color: #002dff;
          font-family: Arial;
}

#açıqlama { font-family: sans-serif;
}

b { font-family: sans-serif;
}

div.menu { background-color: blue;
    	   overflow: hidden;
           color: #002DFF;
	   border-radius: 25px 25px 30px 30px;
	   font-size: 15px;
}


div.menu a { float: left;
  	     color: #00D6FF;
  	     padding: 14px 16px;
             text-decoration: none;
  	     font-size: 17px;
	     border-radius: 10px 10px 10px 10px;
}

div.menu a:hover { background-color: #00D6FF;
  		   color: white;
}

div.menu a.active { color: white;
}

div.menu b { font-family: sans-serif;
             color: white;
}